$service-title: #666262;
$service-description: #9b9999;
$service-link: #86b670;

$article-title: #666262;
$article-description: #9b9999;
$article-background: #efefef;

$footer-background: #333333;
$footer-default-text: #9b9999;
$footer-input-background: #4e4c4c;
$footer-input-focus: #868383;
$footer-button: #828282;
$footer-copyright: #808080;
$footer-copyright-mev: #efefef;

$information-title: #666262;
$information-description: #9b9999;
$information-link: #86b670;

$header-logo-container-border: #fff;
$header-search: #86b670;
$header-menu-border: #86b670;
$header-description: #fff;

$mobile-menu-layout: rgba(102, 102, 102, 0.7);
$mobile-menu-background: #fff;
$mobile-menu-header: #a4c894;
$mobile-menu-link: #333;
$mobile-social-border: #cccccc;