.mobile-menu-layout {
  background: $mobile-menu-layout;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 400;

  &:target {
    display: block;
  }
}

.mobile-menu {
  width: 210px;
  height: 100vh;
  text-align: left;
  border: none;
  position: absolute;
  z-index: 300;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $mobile-menu-background;

  .top {
    width: 210px;
    height: 70px;
    background: $mobile-menu-header;
    position: relative;

    .close-menu {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: url(/assets/images/Close.png);
      cursor: pointer;
      margin-left: 20px;
    }

    h1 {
      font: bold 20px 'Acrom';
      color: $mobile-menu-background;
      display: inline-block;
      padding-left: 40px;
    }
  }

  .smart {
    padding: 40px 30px;
    font: 14px/50px 'Acrom';

    a {
      color: $mobile-menu-link;
      font: 14px 'Acrom';
      text-decoration: none;
    }

    .active {
      font: bold 14px/50px 'Acrom';

      &::before {
        content: url(/assets/images/home.png);
        position: relative;
        top: 5px;
        right: 10px;
      }
    }

    .blog {
      &::before {
        content: url(/assets/images/blog.png);
        position: relative;
        top: 5px;
        right: 10px;
      }
    }

    .contact_us {
      &::before {
        content: url(/assets/images/contact_us.png);
        position: relative;
        top: 5px;
        right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu-button {
    position: absolute;
    z-index: 200;
    top: 30px;
    left: 15px;
    display: block !important;

    a {
      display: block;
    }

    .ico {
      width: 18px;
      height: 14px;
      background: url(/assets/images/menu.png);
    }
  }

  .mobile-menu {
    position: fixed;

    .socials {
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flex !important;
      justify-content: space-around;
      padding: 20px 27px;
      border-top: 1px solid $mobile-social-border;
    }
  }
}
